/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  color: white;
}
body {
  background-image: url("/img/memphis-mini-dark.png");
  background-size: 1000px;
}
body h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  font-size: 4rem;
  margin-top: 5%;
}
body h2 {
  font-size: 4vh;
  margin-top: 10%;
}
body h3 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 3vh;
}
body .pagemeat {
  display: flex;
  justify-content: center;
}
body .pagemeat p {
  background: 5px orangered;
  border-radius: 44px;
  margin: 5%;
  opacity: 0.8;
  width: 30%;
  text-align: center;
}
body .pagemeat img {
  height: 30vh;
}
.nameTable {
  justify-content: space-evenly;
  width: 100%;
}
.nameTable h1 {
  display: flex;
}
.namebox {
  display: flex;
  flex-direction: column;
  margin: 2%;
  align-items: center;
}
.namebox h2 {
  border: 2px solid red;
  border-radius: 44px;
  margin: 1%;
}
@media (max-width: 500px) {
  .pagemeat {
    flex-direction: column;
    align-items: center;
  }
  h1 {
    margin: 5%;
  }
}
nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.bottombutton {
  border-radius: 44px;
  font-size: 1rem;
  padding: 3.5%;
  border: none;
  width: 300px;
  background-color: orangered;
  color: white;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav .bottombutton {
    margin: 2%;
    justify-content: center;
  }
}
