html{
    font-family:Poppins;
    font-style: normal;
    font-weight: normal;
    
}
body{
    //background-image: url("img/memphis-mini-dark.png");
    //background-size: cover;
    
    h1{
        display: flex; 
        justify-content: center;
        align-items: center;
        height: 80%;
        font-size: 4rem;
     }
    h3{
        display: flex; 
        justify-content: center;
        margin-top: -5%;
        margin-bottom: 5%;
        
        //color: white;
    }
}
