html{
    font-family:Poppins;
    font-style: normal;
    font-weight: normal;
    color: white;
    
}
body{
    background-image: url("/img/memphis-mini-dark.png");
    background-size: 1000px;
    
    h1{
        display: flex; 
        justify-content: center;
        align-items: center;
        height: 80%;
        font-size: 4rem;
     }
    h3{
        display: flex; 
        justify-content: center;
        margin-top: -5%;
        margin-bottom: 5%;
        
        //color: white;
    }
    div{
        
        .namebox{
            display: flex;
            flex-direction: column;
            margin: 5%;
            margin-top: 20%;
           
        }


    }
    .nameTable{
        display: flex;
        
        
        
    }
  
}

